/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo e fundo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Header */
header {
    background-color: #3498db;
    color: white;
    padding: 10px;
    text-align: center;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Estilo para o ícone do usuário */
#userIcon img {
    width: 40px;  /* Tamanho do ícone */
    height: 40px;
    border-radius: 50%;  /* Faz a imagem ficar redonda */
    cursor: pointer;  /* Muda o cursor para 'pointer' quando passa por cima */
}

#settingsMenu {
    display: none;  /* Inicialmente oculto */
    background-color: #fff;
    border: 1px solid #ccc;
    position: absolute;
    top: 50px;  /* Ajuste conforme necessário */
    right: 0;
    width: 120px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo dos botões dentro do menu de configurações */
#settingsMenu button {
    width: 100%;
    background-color: #3498db;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#settingsMenu button:hover {
    background-color: #2980b9;  /* Cor ao passar o mouse */
}

/* Main */
main {
    padding: 20px;
}

h1, h2 {
    color: #3498db;
}

/* Footer */
footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
