/* Estilos Gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #333;
    color: white;
}

header h1 {
    font-size: 24px;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: white;
}

#userIcon {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

#userIcon:hover {
    color: #4CAF50;  /* Altera a cor ao passar o mouse */
}

/* Main */
main {
    padding: 20px;
}

h2 {
    margin-bottom: 20px;
    font-size: 28px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

section div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

button:hover {
    background-color: #45a049;
}

button#logoutBtn {
    background-color: #f44336;
}

button#logoutBtn:hover {
    background-color: #e53935;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    margin-top: 20px;
}

/* Estilo para o ícone de usuário */
.fas.fa-user {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.fas.fa-user:hover {
    color: #4CAF50;  /* Cor do ícone ao passar o mouse */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        margin-bottom: 10px;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        margin-right: 10px;
    }

    #userIcon {
        margin-top: 10px;
    }

    section {
        padding: 15px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }
}
