/* Resetando alguns estilos padrões do navegador */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
    margin: 0;
}

/* Header */
header {
    background-color: #2c3e50;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Ícone de Usuário no topo direito */
#userIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}

#userIcon img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 2px solid #fff;
    transition: transform 0.3s;
}

#userIcon:hover img {
    transform: scale(1.1); /* Um efeito de zoom no ícone ao passar o mouse */
}

/* Mensagem de boas-vindas */
#message {
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
    color: #34495e;
}

/* Formulário de Login */
#loginForm {
    width: 100%;
    max-width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#loginForm h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #2c3e50;
}

#loginForm input[type="text"], 
#loginForm input[type="password"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#loginForm input[type="text"]:focus, 
#loginForm input[type="password"]:focus {
    border-color: #3498db;
    outline: none;
}

#loginForm button {
    width: 100%;
    padding: 12px;
    background-color: #3498db;
    color: #fff;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#loginForm button:hover {
    background-color: #2980b9;
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
}

footer p {
    font-size: 14px;
}

